body {
    background-color: #dde1e7;
}

#game {
    margin: auto;
    position: absolute;
    padding: auto;
    top: 0;bottom: 0;left: 0;right: 0;
    height: fit-content;
    width: 100%;
    text-align: center;
}

#gameWindow {
    margin: 10px auto 10px auto;
    border-radius: 0.5em;
    height: 500px;
    width: 500px;
    padding: 0;
    box-shadow: inset 0 0 10px #000000;
}

#gameControls {
    margin: 10px auto 10px auto;
    height: 100px;
    width: 550px;
    border-radius: 0.5em;
    background-color: #dde1e7;
    box-shadow: -3px -3px 8px #ffffffb2, 3px 3px 6px rgba(94, 104, 121, 0.945);
    padding: 10px;
}

.sliderControl {
    display: inline-flex;
    padding: 0px;
    margin: 5px 10px 5px 10px;
}

#gameOfLifeCanvas {
    border-radius: 0.5em;
    padding: 0;
    margin: 0;
}


.inputGroupLeft label {
}
.radioGroupBelow label {
    display: inline-block;
    text-align: center;
    margin: 0 0.2em;
}
.radioGroupBelow label input[type="radio"] {
display: block;
margin: 0.5em auto;
}
